body {
    background-image: url('http://bgfons.com/upload/paper_texture309.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    padding-top: 10px;
}

.header {
    display: block;
    text-align: center;
}

.input-field {
    display: block;
    padding: 5px 10px;
    height: 40px;
    width: 320px;
    margin: 0 auto;
}
